.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #313132 0%, #161618 100%);
  display: flex;
  position: relative;
}

/* left */

.left {
  width: 163px;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #707070;
  z-index: 1;
}

.logo {
  width: 82px;
  height: 61px;

  font-family: "Tuffy";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.social-icons {
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* right */

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

/* header */

header {
  width: 100%;
  height: 105px;
  padding: 40px 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
  column-gap: 55px;
}

.nav-link {
  color: white;
}

.nav-link_active {
  color: #efc862;
  text-decoration: underline;
}

.search-icon {
  margin-left: 80px;
}

/* main */

main {
  /* background-color: gray; */
  margin-left: 79px;
  margin-right: 120px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.main-left {
  width: 320px;
}

.main-right {
  width: 400px;
}

.about-index-text {
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */

  letter-spacing: 0.1em;

  color: #ffffff;
}

.about-index-divider {
  width: 100%;
  display: flex;
  margin-top: 8px;
  margin-bottom: 24px;
}

.about-index-divider_yellow {
  width: 100%;
  border-bottom: 1px solid #efc862;
}

.about-index-divider_white {
  width: 100%;
  border-bottom: 1px solid white;
}

.about-option {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.about-option-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  color: #646464;
}
.about-option-text_active {
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 143% */

  color: #ffffff;
}

.about-title {
  font-family: "Tuffy";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */

  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 24px;
}

.about-description {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* or 143% */

  letter-spacing: 0.1em;

  color: #ffffff;
}

/* footer */

footer {
  width: 100%;
  height: 204px;
  padding: 0px 40px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
}

/* bg */

.bg {
  height: 100vh;
  position: absolute;
  left: calc(50% - 948.11px / 2 + 76.05px);
  bottom: 0px;
  z-index: 0;
}
